
header {

    padding-top: 0px;
    padding-bottom: 60px;
    margin-bottom: 0;
    border-bottom: 3px solid black;
}
nav {
    
    
    padding-bottom: 50px;
    padding-top: 10px;
    margin-left: 50px;
    padding-left: 100px;
}

html {
    
    background-image: url(http://i.yapx.ru/R5YX9.png);
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    text-align: center;
    margin-right: 165px;
}
h3 {
    text-align: center;
}
.logo {
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar {
    position: absolute;
    margin-top: 100px;
}

.description {
    text-align: center;
    font-size: 19px;
}
main {
    background: url(http://i.yapx.ru/R5ZEW.png);
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}